{% extends 'app/base.html' %}
{% load static %}

{% block title %}
<title>Index</title>
{% endblock %}    
    
{% block content %}
<body class="bg-index" >
    <div class="container-fluid">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <img src="{% static 'app/assets/logo.png' %}" alt="logo" class="logo-company mb-0" style="max-width: 50%;">
            </div>
            <div class="row">
                <div class="col-12">
                    <form action="" class="d-flex justify-content-center mt-5 input-group" method="POST">
                        
                        {% csrf_token %}
                        {{ form  }}

                        <br>
                    
                        
                    </form>
                    
                </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <table class="table" style="color: white;"> 
                  <thead>
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Duration</th>
                        <th scope="col" > Description</th>
                        <th scope="col">Views</th>
                        <th scope="col">Ahutor (chanel)</th>
                        <th scope="col">Link</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for value in data.values %}
                      <tr>
                        <td> <img src= {{ value.img }} alt="img" style="max-width: 90%;"></td>
                        <td>{{ value.title }} </td>
                        <td>{{ value.duration }} </td>
                        <td style="word-break: break-all;">{{ value.description }}</td>
                        <td>{{ values.view }}</td>
                        <td>{{ value.author }}</td>
                        <td><a type="button" class="btn btn-primary" href= {{ value.link }} >Link to youtube video</a></td> 
                      </tr>
                      {% endfor %}
                  </tbody>
                      
              </table>

              </div>
            </div>
        </div>
        
    </div>
   

   
  

</body>
{% endblock %}